
::placeholder{text-align: center;}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

input[type=text],input[type=password]{
    font-family: Arial, Helvetica, sans-serif;
    border: 1.5px solid black;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 5px;
    padding: 5px;
}

.loginFormBtn{
    margin: 10px;
    width: 40%;    
    border-radius: 10px;
    background-color:white;
    justify-content: center;
}

.loginFormBtn:hover, input[type=text]:hover,input[type=password]:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.button{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    box-sizing: border-box;
    min-height: 10%;
    height: auto;
    width: 40%;
    padding: 10px;
    margin: .313rem;
    border-radius: 4px;
    transition: 0.2s;
    opacity: .9;
    border: 2.5px solid ;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 15px 0px rgb(21, 21, 21);
}

.button p{
    margin-left: 50px;
}

.button .logo{
    min-height: 12%;
    height: auto;
}

.button:hover{
    color:#fff;
    border-radius: 10px;
    box-shadow: inset -140px 0px rgba(14, 14, 14, 0.5);
    border: 2.5px solid rgb(21, 21, 21);
}

.error-invalid{
    color: red;
    width: auto;
    margin-top: 5px;
    overflow: hidden;
}

.success{
    background-color:rgb(74, 255, 74);
}

.danger{
    background-color: rgb(255, 85, 85);
}

.default{
    background-color: rgb(111, 137, 253);
}