<div class="column">
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
        <div>
            <h2>Register</h2>
        </div>
        <div class="row">
            <label for="username">Username: </label>
            <input type="text"
                id="username"
                placeholder="Usernam"
                formControlName="username">
        </div>
        <div class="row">
            <label for="firstname">Firstname: </label>
            <input 
                    type="text" 
                    id="firstname" 
                    placeholder="Firstname" 
                    formControlName="firstname"/>
        </div>
        <div class="row">
            <label for="surname">Surname: </label>
            <input 
                    type="text" 
                    id="surname" 
                    placeholder="Surname" 
                    formControlName="surname"/>
        </div>
        <div class="row">
            <label for="phoneNumber">Phone Number: </label>
            <input 
                    type="text" 
                    id="phoneNumber" 
                    placeholder="Phone Number" 
                    formControlName="phoneNumber"/>
        </div>
        <div class="row">
            <label for="rEmail">Email: </label>
            <input 
                    [ngStyle]="{border: compareEmail? ' 2px solid red' : '1px solid black'  }"
                    type="text" 
                    id="rEmail" 
                    placeholder="Email" 
                    formControlName="rEmail"/>
        </div>
        <div class="row">
            <label for="confirmEmail">Confirm Email: </label>
            <input 
                    [ngStyle]="{border: compareEmail ? ' 2px solid red' : '1px solid black'  }"
                    type="text" 
                    id="confirmEmail" 
                    placeholder="Confirm email" 
                    formControlName="confirmEmail"/>
        </div>
        <p class="error-invalid" 
            *ngIf="compareEmail && (registerControls.rEmail.touched && registerControls.confirmEmail.touched)">
            Please make sure both entered emails are the same </p>
        <div class="row">
            <label for="rPassword">Password: </label>
            <input 
                    [ngStyle]="{border: comparePassword && comparePasswordInput ? ' 2px solid red' : '1px solid black'  }"
                    type="password" 
                    id="rPassword" 
                    placeholder="Password" 
                    formControlName="rPassword"/>
        </div>
        <div class="row">
            <label for="confirmPassword">Confirm Password </label>
            <input 
                    [ngStyle]="{border: comparePassword && comparePasswordInput ? ' 2px solid red' : '1px solid black'  }"
                    type="password" 
                    id="confirmPassword" 
                    placeholder="Confirm Password" 
                    formControlName="confirmPassword"/>
        </div>
        <p class="error-invalid" 
                *ngIf="comparePassword && (registerControls.rPassword.touched && registerControls.confirmPassword.touched)">
                Please make sure both entered passwords are the same </p>
        <p class="error-invalid"
            *ngIf="noDetailsError">
            Please make sure you have entered your details</p>
        <div class="row">
            <button class="button" type="submit" [disabled]="compareLogin">Create</button>
            <button class="button" (click)="clear()">Clear</button>
        </div>

    </form>
</div>