<div class="container">
  <div class="content">
    <h2>Reset Password</h2>
    <form (ngSubmit)="(submitPasswordReset)" [formGroup]="resetPasswordForm">
      <div class="form-control">
        <label for="oldPassword" class="form-label">
          Old Password
          <input class="form-input" type="text" />
        </label>
      </div>

      <div class="form-control">
        <label for="newPassword" class="form-label">
          New Password
          <input class="form-input" type="text" />
        </label>
      </div>

      <div class="form-control">
        <label for="confirmPassword" class="form-label">
          Confirm Password
          <input class="form-input" type="text" />
        </label>
      </div>

      <div class="control-container">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
