
.content{
    display: inline-block;
    align-items:center;
    border: 1.5px solid black;
    padding:1rem .5rem;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: rgb(219, 217, 217);
    margin:10px;  
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.caution:hover{
    background-color: rgb(251, 65, 65);
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.pp{
    padding: 0px;
    max-width: 70px;
    max-height: 50px;   
    height: auto;
    width: auto;
    border-radius: 20px;
    object-fit: contain;
}

.status{
    position: relative;
    right: 25px;
    top: 35px;
    height:15px;
    width: 40px;
    z-index: 2;
}

p{
    text-decoration: underline gray;
    width: auto;
    
}

.sidebar-user{
    display: flex;
    border: 1px solid gray;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 95%;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 5px;
}

.sidebar-user:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.divider{
    width:100%;
    height: 1px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
