<div class="navigation-wrapper">
    <ul class="navigation">
        <a (click)="changePage(1)" class="button-secondary" type="button"
            >Account</a
        >
        <a (click)="changePage(2)" class="button-secondary" type="button"
            >Change Account details</a
        >
        <a (click)="changePage(3)" class="button-secondary" type="button"
            >Change password</a
        >
        <a (click)="changePage(4)" class="button-secondary" type="button"
            >Change email</a
        >
        <a (click)="changePage(5)" class="button-secondary" type="button"
            >Prefrerences</a
        >
        <a (click)="emitLogout()" class="button-secondary red" type="button"
            >Logout</a
        >
    </ul>
</div>
