@import "../../styles/global";
@import "../../styles/forms";
@import "../../styles/animations";

.slide-in-div{
    animation: slide-in 5s ease-in-out forwards;
}

.slide-out-div{
    animation: slide-out 5s ease-in-out forwards;
}

.navigation-wrapper{
    display: flex;  
    justify-content: space-around;
    .navigation{ 
        flex-wrap: wrap;
        flex-grow: 3;
    }
}