@import "../../../styles/global";
@import "../../../styles/forms";
@import "../../../styles/animations";

.comment{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color:#cdc3ce;
    border-radius: 15px;
    margin-bottom: 2rem;
    position: relative; 
    padding: 10px 5px;
    width: fit-content;
    padding: 10px 15px;

    &::before{
        content: '';
        border: 20px solid transparent;
        position: absolute;
    }

    &::after{
        content: '';
        position: absolute;
        border: 20px solid transparent
    }

    &.bottom::after{
        border-bottom-color:#cdc3ce;
        border-top: 0px;
        bottom: -20px;
        left: 20px;
        transform: rotate(180deg);
    }

    form{
        display: flex;
        flex-direction: row;
        justify-content: end;

        input[type="text"].edit-comment-input{
            display: flex;
            text-align: start;
            width: fit-content;
            border-radius: 10px;
            background:none;
            outline:none;
            border:none;
        }

        .comment-container{
            vertical-align: middle;
        }

        .comment-control{
            display: flex;
            flex-direction: row;
            justify-content: left;
            transition: .5s;
            width: auto;

            button{
                background:none;
                border: none;
                outline: none;
            }

            .icons{
                display: flex;
                position: relative;
                transition: .5s;
                height: 40px;
                width: 40px;
                margin: 0px;
                padding: 0px;  
                min-height: unset; 

                &.edit{
                    background-image: url('../../../../../svgs/edit.svg');
                    background-size: contain;
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-size: 1.5rem; 
                    border: none;
            
                    &:hover{
                        transition: .5s;
                        background-size: 2rem;
                    }
                    &:active{
                        transition: .5s;
                        background-size: 1rem;
                    }
            
                }
            
                &.edit-clicked{
                    background-image: url('../../../../../svgs/edit-clicked.svg');
                    background-size: contain;
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-size: 1.5rem; 
                    border: none;
            
                    &:hover{
                        transition: .5s;
                        background-size: 2rem;
                    }

                    &:active{
                        transition: .5s;
                        background-size: 1rem;
                    }
            
                }

                &.confirm{
                    background-image: url('../../../../../svgs/confirm.svg');
                    background-size: contain;
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-size: 1.5rem; 

                    &:hover{
                        transition: .5s;
                        background-size: 2rem
                    }

                    &:active{
                        transition: .5s;
                        background-size: 1rem;
                    }
            
                }
            
                &.trash{
                    background-image: url('../../../../../svgs/trash.svg');
                    background-size: contain;
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-size: 1.5rem; 
                    border: none;
            
                    &:hover{
                        transition: .5s;
                        background-size: 2rem;
                    }

                    &:active{
                        transition: .5s;
                        background-size: 1rem;
                    }
            
                }
            
                &.trash-clicked{
                    background-image: url('../../../../../svgs/trash-clicked.svg');
                    background-size: contain;
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-size: 1.5rem; 
                    border: none;
            
                    &:hover{
                        transition: .5s;
                        background-size: 2rem;
                    }
                    &:active{
                        transition: .5s;
                        background-size: 1rem;
                    }
            
                }
        
                &.comment{
                    background-image: url('../../../../../svgs/comment.svg');
                    background-size: contain;
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-size: 1.5rem; 
                    border: none;
            
                    &:hover{
                        transition: .5s;
                        background-size: 2rem;
                    }

                    &:active{
                        transition: .5s;
                        background-size: 1rem;
                    }
            
                }
            
                &.comment-clicked{
                    background-image: url('../../../../../svgs/comment-clicked.svg');
                    background-size: contain;
                    background-repeat: no-repeat;  
                    background-position: center;
                    background-size: 1.5rem; 
                    border: none;
            
                    &:hover{
                        transition: .5s;
                        background-size: 2rem;
                    }

                    &:active{
                        transition: .5s;
                        background-size: 1rem;
                    }
            
                }
            }
        }
    }
}