<div class="container">
    <h3>Password</h3>
    <form [formGroup]="passwordInfoForm" (ngSubmit)="submitPasswordForm()">
        <!-- Current Password -->
        <div class="form-control">
            <label for="currentPassword" class="form-label">
                Current <br>
                Password
                <input 
                    type="text" 
                    class="form-input" 
                    formControlName="currentPassword">
            </label>
        </div>

        <!-- Password -->
        <div class="form-control">
            <label for="password" class="form-label" >
                Password
                <input 
                    type="text" 
                    class="form-input"  
                    [class.error]="checkPasswordMatch"
                    formControlName="password">
            </label>
        </div>
        <!-- Confirm password -->
        <div class="form-control">
            <label for="confirmPassword" class="form-label">
                Confirm <br>
                Password
                <input 
                    type="text" 
                    class="form-input" 
                    [class.error]="checkPasswordMatch"
                    formControlName="confirmPassword">
            </label>
            <label for="mismatch" class="error" *ngIf="passwordMismatch">Passwords do not match;</label>
            <label for="wrongPassword" class="error" *ngIf="wrongCurrentPassword">Current password is incorrect</label>
        </div>
        <button 
            class="button" 
            type="submit"
            [class.disabled]="passwordMismatch">Submit</button>
    </form>
</div>