@import "../../shared/styles/global";
@import "../../shared/styles/forms";

.content{
    width: 100%;
}

.control-container{
    display: flex;
    justify-content: center;
}

.disabled{
    cursor: not-allowed;
    opacity: .5;
    background-color: rgb(185, 32, 32);
    transition: .5s;
}   

.error{
    color: red;
    border: 2.5px solid !important;
    padding: 5px;
    margin: 5px;
}