.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid black;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: rgb(219, 217, 217);
    margin: 10px;   
    overflow:auto;

    h3{
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        text-decoration: underline;
    }

    form{
        width: 100%;
    }

    
    .form-control{
        margin: 20px 0px;
        background-color: rgb(219, 217, 217);
        border: none;
        
        .form-label{
            width: 100%;
            margin: auto 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            letter-spacing: 2px;
            
            .form-input{
                float: right;
                margin-left: 30px;
                border-radius: 10px;
                min-height: 50px;
                border: 1.5px solid black;
                width:70%;
                height: 80%;
                padding: 3px;
                font-size: 1rem;
                letter-spacing: 2px;
                outline: none;
                
            }
        }
    }
}

.button{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    box-sizing: border-box;
    min-height: 10%;
    height: auto;
    width: 40%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 4px;
    transition: 0.2s;
    opacity: .9;
    border: 2.5px solid ;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 15px 0px rgb(21, 21, 21);
}

.button p{
    margin-left: 50px;
}

.button .logo{
    min-height: 12%;
    height: auto;
}

.button:hover{
    color:#fff;
    border-radius: 10px;
    box-shadow: inset -140px 0px rgba(14, 14, 14, 0.5);
    border: 2.5px solid rgb(21, 21, 21);
}

.login:hover{
    background-color: rgb(53, 154, 53);
    transition: .5s;
}

.clear:hover{
    background-color: rgb(185, 32, 32);
    transition: .5s;
}

.disabled{
    cursor: not-allowed;
    opacity: .5;
    background-color: rgb(185, 32, 32);
    transition: .5s;
}   

.error{
    color: red;
    border: 2.5px solid !important;
    padding: 5px;
    margin: 5px;
}