<div class="content">
    <form [formGroup]="createNewPostForm">
        <div class="title">
            <h3>
                <input
                    class="title-input"
                    type="text"
                    placeholder="Type a title"
                    formControlName="title"
                />
            </h3>
        </div>
        <div class="body">
            <!-- show if there is an image -->
            <div class="text-body">
                <textarea
                    class="body-input"
                    type="text"
                    placeholder="Enter some text"
                    formControlName="body"
                ></textarea>
            </div>
            <div class="controller">
                <button class="button-secondary" (click)="createNewPost()">
                    Post
                </button>
                <button class="button-secondary red" (click)="clearPost()">
                    Clear
                </button>
            </div>
        </div>
    </form>
</div>
