.content{
    padding: 10px;
    margin:15px 0;    
    border-radius: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.header-content{
    border-radius: 10px;
    border-bottom: 1px solid black;
    padding: 10px;
    
}

.body{
    min-height: 300px;
    padding: 10px;
}

.post-content{
    min-height: 350px;
}

.footer-content{
    max-height: 50px;   
}

.post-btn{
    width: 100%;    
    border-radius: 10px;
    border: none;
    background-color:white;
    justify-content: center;
}

.post-btn:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    background-color: rgb(184, 196, 204);
}

.title-input{
    border: none;
    background:transparent;
    width: 100%;
    padding: 10px;
}

.body-input{
    border: none;
    background: transparent;   
    width: 100%; 
    min-height: 350px;
    padding: 10px;
}