.banner{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border: 2px solid black;
    min-height: 50px;
    height: auto;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    text-decoration: bold;
    overflow-y: hidden;

    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

h4{ 
    font-size: 20px;
}