<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../assets/header_logo.png" alt="logo">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-middle"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow nav-buttons">
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
            </li>

            <a class="divider"></a>

            <p>User: {{currentUser?.user_name ? currentUser?.user_name : 'Not logged in'}}</p>

            <li class="class-item">
                
            </li>

            <a class="divider"></a>
     
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/message']">Messages</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/people-page']">PeoplesPage</a>
            </li>
            <a class="divider"></a>
            <li class="nav-item"[routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/login']">{{ !!currentUser ? 'Logout' : 'Login'}}</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/account']">MyAccount</a>
            </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
