a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
    
}

div.nav-title{
    display: inline-block;
    text-align: center;
}

a.divider{
    width: 1px;
    border: 1.5px solid black;
    background-color: black;
    margin: 0 20px;
    opacity: .15;
    height: 50px;
}

.align{
    margin-top: 40px !important;
}

.find-friend{
    width:25%;
    height:40px !important;
    margin-right: 20px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
