@import "../shared/styles/global";
@import "../shared/styles/forms";

header{
    nav.navbar{
        display: flex;
        height: 100px;
        flex-direction: row;
        justify-content: center;
        padding: 15px 3px;

        border-bottom: 2.5 solid black;
        margin-bottom: 5px;

        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            line-height: 80px; 
            width: auto;
            margin: 0px;
            border-radius: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            transition: .5s;

            img.change-orientation{
                margin: auto 0px;
                height: 25px;
                width: 25px;
                opacity: .7;
            }

            a{
                margin: 0px 10px;
                color: black;
            }
            a:hover{
                text-decoration: underline;
            }
        }

        ul:hover{
            transition: .5s;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }
        
    }
}

.vertical{
    display: flex !important;
    float: left;
    height: 100%;
    flex-direction: column !important;
    margin-right: 20px;
    
    nav.navbar{
        justify-content: center;
        ul{
            flex-direction: column;
            align-items: center;
            padding: 5px;
        }
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

