@import "../shared/styles/global";
@import "../shared/styles/forms";

header{

    nav.navbar{
        display: flex;
        height: 100px;
        flex-direction: row;
        justify-content: center;
        padding: 15px 3px;

        border-bottom: 2.5 solid black;
        margin-bottom: 5px;

        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            line-height: 80px; 
            width: auto;
            margin: 0px;
            border-radius: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            transition: .5s;

            img.search{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                margin: auto 20px;
            }

            a{
                margin: 0px 10px;
                color: black;
            }
            a:hover{
                text-decoration: underline;
            }
        }

        ul:hover{
            transition: .5s;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }
        .search{
            transition: .5s;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin: 15px 10px;
            background-image: url("../../svgs/search.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 2rem; 
            border: none;
        }

        .search:hover{
            transition: .5s;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        }

        .hide-search{
            display: none;
        }

        .show {
            display: flex;
            position: absolute;
            right: -100px;
            width: 371px;
            height: 50px;
            -webkit-animation: slide 0.5s forwards;
            -webkit-animation-delay: 2s;
            animation: slide 0.5s forwards;
            z-index:2;
        }
        
        @-webkit-keyframes slide {
            100% { right: 80px; }
            25% {right: 50px;}

        }
        
        @keyframes slide {
            100% { right: 80px; }
            25% { right: 50px}
        }
    }
}

.vertical{
    display: flex !important;
    float: left;
    height: 100%;
    flex-direction: column !important;
    margin-right: 20px;
    
    nav.navbar{
        justify-content: center;
        ul{

            .change-orientation{
                height:35px;
            }

            flex-direction: column;
            align-items: center;
            padding: 5px;

            img.search{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                margin-bottom: 20px;
            }

            .people-icon{
                height: 50px;
                width: 50px;
            }

            .icons{
                transition: .5s;
                height: 40px;
                width: 40px;
                margin: 10px;

                &.home{
                    background-image: url('../../svgs/home.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 2rem; 
                    border: none;

                    &:hover{
                        transition: .5s;
                        background-size: 2.5rem;
                    }

                }

                &.message{
                    background-image: url('../../svgs/message.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 2rem; 
                    border: none;

                    &:hover{
                        transition: .5s;
                        background-size: 2.5rem;
                    }
                }

                &.people-page{
                    background-image: url('../../svgs/people.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 2rem; 
                    border: none;

                    &:hover{
                        transition: .5s;
                        background-size: 2.5rem;
                    }
                }

                &.account{
                    background-image: url('../../svgs/settings.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 2rem; 
                    border: none;

                    &:hover{
                        transition: .5s;
                        background-size: 2.5rem;
                    }
                }

                &.calandar{
                    background-image: url('../../svgs/calendar.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 2rem; 
                    border: none;

                    &:hover{
                        transition: .5s;
                        background-size: 2.5rem;
                    }
                }

                

                


            }
        }
    }
}

.change-orientation{
    background-image: url('../../svgs/change-orientation.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem; 
    border: none;
    width: 35px;
    margin: 0px !important;
    

    &:hover{
        transition: .5s;
        background-size: 2rem;
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

