<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../assets/header_logo.png" alt="logo">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow nav-buttons" style="width: 100%">
            <app-search-bar></app-search-bar>   
            <a class="nav-link text-dark align" [routerLinkActive]="['link-active']" [routerLink]="['/']">Home</a>
            <a class="divider align"></a>
            <a class="text-dark align">User: {{currentUser?.user_name ? currentUser?.user_name : 'Not logged in'}}</a>
            <a class="divider align"></a>
            <a class="nav-link text-dark align" [routerLinkActive]="['link-active']" [routerLink]="['/message']">Messages</a>
            <a class="nav-link text-dark align" [routerLinkActive]="['link-active']" [routerLink]="['/people-page']">PeoplesPage</a>
            <a class="nav-link text-dark align" [routerLinkActive]="['link-active']" [routerLink]="['/account']">Account</a>

            <a class="divider align"></a>
            <a class="nav-link text-dark align" [routerLinkActive]="['link-active']" [routerLink]="['/login']">{{ !!currentUser ? 'Logout' : 'Login'}}</a>
            <!-- <a class="nav-link text-dark align" [routerLinkActive]="['link-active']" [routerLink]="['/account']">MyAccount</a> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
