@import "../shared/styles/gloabl";

.container{
    display: flex;
    flex-direction: row;    
    .content{
        width: 45%;
        height: 50%;
    }
    
    .reset-password{
        width: 35%;
    }

    .register{
        width: 35%;
    }
    
    .error-invalid{
        color: red;
        width: auto;
        margin-top: 5px;
    }
}


  



