<div class="row">
    <!-- Error Banner -->
    <app-error-banner 
        *ngIf="isError" 
        [error_message]="errorBannerMessage" 
        [error_type]="'ERROR'" 
        [widthPercentage]="100" 
        [error_status]="errorStatusCode"
        ></app-error-banner>
    <div class="content" style="height: 386px">
        <!-- Login form -->
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <div>
                <h2> Login </h2>
            </div>
            <div class="row">
                <label for="email">Email:</label>
                <input [ngStyle]="{'border':loginControls.email.invalid && loginControls.email.touched ? '2px solid red' : '1px solid black'}"
                    type="text" 
                    id="email" 
                    placeholder="Please enter email" 
                    formControlName="email">
                
            </div>
            <p class="error-invalid" 
                *ngIf="loginControls.email.invalid && loginControls.email.touched">
                Please enter a valid email </p>

            <div class="row">
                <label for="password">Password:</label>
                <input 
                    type="password" 
                    id="password" 
                    placeholder="Please enter password"
                    formControlName="password">
            </div>

            <div class="row">
                <!-- <div class="row loader" *ngIf="loading"></div> -->
                <button class="button login" type="submit">Login</button>
                <button class="button" type="button" 
                        (click)="switchForgotPassword()">Sign Up</button>
                <button class="button clear" type="button" (click)="clear()">Clear</button>
                <button class="button" type="button" (click)="switchRegister()">Forgot Password</button>
            </div>
        </form>
    </div>
    <!--  Register form -->
    <div class="content" *ngIf="showRegisterForm">
        <app-register></app-register>
    </div>
    <!-- Reset password form -->
    <div class="content reset-pass" *ngIf="showForgotPasswordForm">
        <app-forgot-password></app-forgot-password>
    </div>
</div>

