<div class="container">
  <!-- Error Banner -->
  <app-error-banner
    *ngIf="isError"
    [error_message]="errorBannerMessage"
    [error_type]="'ERROR'"
    [widthPercentage]="100"
    [error_status]="errorStatusCode"
  ></app-error-banner>
  <div class="content">
    <!-- Login form -->
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div>
        <h2>Login</h2>
      </div>
      <div class="form-control">
        <!-- Email label -->
        <label class="form-label" for="email"
          >Email:
          <!-- Email input -->
          <input
            class="form-input"
            [ngStyle]="{
              border:
                loginControls.email.invalid && loginControls.email.touched
                  ? '2px solid red'
                  : '1.5px solid rgb(87, 46, 95)'
            }"
            type="text"
            id="email"
            placeholder="Please enter email"
            formControlName="email"
          />
        </label>
      </div>
      <!-- Invalid email -->
      <p
        class="error-invalid"
        *ngIf="loginControls.email.invalid && loginControls.email.touched"
      >
        Please enter a valid email
      </p>
      <!-- password control -->
      <div class="form-control">
        <!-- Password label -->
        <label class="form-label" for="password"
          >Password:
          <!-- password input -->
          <input
            class="form-input"
            type="password"
            id="password"
            placeholder="Please enter password"
            formControlName="password"
          />
        </label>
      </div>
      <!-- Form controls -->
      <div class="control-container">
        <button class="button login" type="submit">Login</button>
        <button class="button" type="button" (click)="switchForgotPassword()">
          Sign Up
        </button>
        <button class="button close" type="button" (click)="clear()">
          Clear
        </button>
        <button class="button" type="button" (click)="switchRegister()">
          Forgot Password
        </button>
      </div>
    </form>
  </div>
  <!--  Register form -->
  <app-register class="register" *ngIf="showRegisterForm"></app-register>
  <!-- Reset password form -->
  <app-forgot-password
    class="reset-password"
    *ngIf="showForgotPasswordForm"
  ></app-forgot-password>
</div>
