@import "../shared/styles/global";
@import "../shared/styles/_forms";

.container{
    display: flex;
    flex-direction: row;    
    .content{
        width: 45%;
        height: 50%;
    }
    
    .reset-password, .register{
        width: 40%;
    }

    .control-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .button{
            width: 40%;
        }
    }
    
    .error-invalid{
        color: red;
        width: auto;
        margin-top: 5px;
    }
}


  



