
/* Global Styles */
::placeholder{text-align: center;}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

input[type=text]{
    display: inline-block;
    border: 1.5px solid black;
    width:80%;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: .625rem;
    padding: 5px;
    
}

.message-btn{
    margin: .625rem;
    height: 2.5rem;
    width: 5rem;    
    border-radius: 10px;
    background-color:white;
    justify-content: center;
}

.message-btn:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

input[type=text]:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.options{
    height: 50px;
}

.message-content{
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 10px;
    height: 90%;
    min-height: 500px;
    width: 100%;
    padding: 10px;
}   

.message-box{
    border-radius: 10px;
    min-height: 50px;
    border: 1.5px solid black;
    width: 100%;
    height: 80%;
}

.footer-content{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    align-items: center;
    position: absolute;
    width: 95%;
    margin-bottom: 10px;
    bottom: 0;
}

.box{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    margin: 0px;
    overflow:scroll;
}

.edit{
    height: 20px;
    border: none;
    background-color: transparent;
}   

.message-box{
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    transition: .5s;
}

.message-box:hover{
    transition: .5s;
    border-radius: 25px;
}

.message-deleted{
    color: rgba(0, 0, 255, 0.4) !important;
}

.reciever{
    display: flex;
    flex-direction: row;
    float: left;
    width: auto;
    height: auto;
    max-width: 31.25rem;
    margin: 5px;
    color: red;
    padding: 5px;
}

.sender{
    display: flex;
    flex-direction: row;
    float: right;
    width: auto;
    max-width: 31.25rem;
    height: fit-content;
    margin: 5px;
    color: blue;
    padding: 5px;
}

.sender:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;

}

.reciever:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;

}

.divider{
    border: 1px solid rgb(170, 170, 170);
    opacity: .75;
    width: 1px;
    height: 20px;
    margin: 5px 10px;
}

.message-window{
    max-height: 26.25rem;
    overflow: scroll;
}

.button{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    box-sizing: border-box;
    min-height: 15%;
    height: auto;
    width: 15%;
    padding: 10px;
    margin: .313rem;
    border-radius: 4px;
    transition: 0.2s;
    opacity: .9;
    border: 2.5px solid ;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 15px 0px rgb(21, 21, 21);
}

.button p{
    margin-left: 50px;
}

.button .logo{
    min-height: 12%;
    height: auto;
}

.button:hover{
    color:#fff;
    border-radius: 10px;
    box-shadow: inset -90px 0px rgba(14, 14, 14, 0.5);
    border: 2.5px solid rgb(21, 21, 21);
    transition: .5s;
}