@import "../../styles/forms";
@import "../../styles/global";


.content{
    flex-direction: row;
    width: 50rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 25%;
    
    .user-info{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 45%;
        height: 100%;

        .user-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .pp{
                padding: 0px;
                max-width: 170px;
                max-height: 150px;   
                height: auto;
                width: auto;
                margin: 0px auto;
                border-radius: 20px;
                justify-content: center;
                object-fit: contain;
            }
        }
    }

    .user-controls{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 45%;

        .controls-header{
        }
        
        .controls-body{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
        }
    }
}






