<div class="row container">
    <div class="user-info">
        <div class="user-header">
            <h2>User Profile</h2>
        </div>
        <div class="user-body">
            <img class="pp" src="assets/default-avatar.png"
            alt="profile-picture">
            <p>{{ user.user_name }}</p>
            <p>{{ name }}</p>
            <p>{{ user_contact_details.email }}</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="user-controls">
        <div class="controls-header">
            <h2>Manage User</h2>
        </div>
        <div class="controls-body">
            <button class="button" (click)="goToUserPage()">GO to user page</button>
            <button class="button caution">Unfriend user</button>
            <button class="button caution">Mute user</button>
            <button class="button caution">block user</button>
            <button class="button caution">EXIT</button>
        </div>
    </div>
</div>