<div class="blur"></div>
<div class="content">
    <div class="user-info">
        <div class="user-header">
            <h2>User Profile</h2>
        </div>
        <div class="user-body">
            <img
                class="pp"
                src="assets/default-avatar.png"
                alt="profile-picture"
            />
            <p>{{ user?.user_name ? user.user_name : 'Username not found' }}</p>
            <p>{{ name ? name : 'Name not found' }}</p>
            <p>{{ user?.email ? user.email : 'Email not found' }}</p>
            <p>
                {{
                    user?.phonenumber
                        ? user.phonenumber
                        : 'Phonenumber not found'
                }}
            </p>
        </div>
    </div>
    <div class="v-divider"></div>
    <div class="user-controls">
        <div class="controls-header">
            <h2>Manage User</h2>
        </div>
        <div class="controls-body">
            <button class="button" (click)="goToUserPage()">
                GO to user page
            </button>
            <button class="button caution">Unfriend user</button>
            <button class="button caution">Mute user</button>
            <button class="button caution">block user</button>
            <button class="button caution" (click)="emitExit()">X</button>
        </div>
    </div>
</div>
