<div class="column">
    <h2>Reset Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
        <div class="passwordReset">
            <input 
                [ngStyle]="{'border':forgotPasswordControls.invalid && forgotPasswordControls.touched ? '2px solid red' : '1px solid black'}"
                type="text" 
                name="fpEmail" 
                formControlname="fpEmail" 
                placeholder="Enter your email to reset password">
            <p class="error-invalid" 
                *ngIf="forgotPasswordControls.invalid && forgotPasswordControls.touched">
                Please enter a valid email </p>
            <button type="button" class="button">Reset</button>
        </div>
    </form>
</div>
