@import "../../shared/styles/forms";
@import "../../shared/styles/global";

.content{
    width:100%;
    height: 60%;

    .control-container{
        display: flex;
        justify-content: center;
    }   
}



