<div class="content">
  <h2>Reset Password</h2>
  <form
    class="forgotPasswordForm"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="submitForgotPassword()"
  >
    <div class="form-control">
      <label class="form-label" for="email">
        Email:
        <input
          class="form-input"
          [ngStyle]="{
            border:
              forgotPasswordControls.invalid && forgotPasswordControls.touched
                ? '2px solid red'
                : '1.5px solid rgb(87, 46, 95)'
          }"
          type="text"
          formControlName="email"
        />
      </label>
    </div>
    <div class="control-container">
      <button class="button" type="submit">Submit</button>
    </div>
  </form>
</div>
