
/* Global Styles */
::placeholder{text-align: center;}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

input[type=text],input[type=password]{
    font-family: Arial, Helvetica, sans-serif;
    border: 1.5px solid black;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 1.5px solid black;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: rgb(219, 217, 217);
    margin: 10px;   
    min-height: 200px;
    
    
}

.passwordReset{
    display: inline-block;
    align-items: center;
    width:400px;
}

.button{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    box-sizing: border-box;
    min-height: 10%;
    height: auto;
    width: 40%;
    padding: 10px;
    margin: .313rem;
    border-radius: 4px;
    transition: 0.2s;
    opacity: .9;
    border: 2.5px solid ;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 15px 0px rgb(21, 21, 21);
}

.button p{
    margin-left: 50px;
}

.button .logo{
    min-height: 12%;
    height: auto;
}

.button:hover{
    color:#fff;
    border-radius: 10px;
    box-shadow: inset -140px 0px rgba(14, 14, 14, 0.5);
    border: 2.5px solid rgb(21, 21, 21);
}


