
@import "../shared/styles/forms";
@import "../shared/styles/global";


.create-post{
    width: 100%;
}

.content{   
    height: auto;
    width: auto;
    overflow: hidden;

    .post-item{
        width: 100%;
        margin: 0px !important;
        border-left: none;
        border-right: none;
    }
}


.button{
    width: 75%;
}

