<div class="content">
    <button class="new-post-btn" (click)="toggleNewPost()"> New Post</button>
    <app-create-post
    *ngIf="toggleCreateNewPost">
    </app-create-post>
    <div class="row" 
        *ngFor="let post of posts; let i = index">
        <app-post-item
            [title]="post.title"
            [img]="post.img ?? ''"
            [content]="post.body"
        ></app-post-item>
    </div>
</div>