/* Global Styles */
::placeholder{text-align: center;}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center; 
    text-decoration: underline;
    letter-spacing: 2.2px;
}

:global(label){
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
    text-align: left;
}

a{
    transition: .5s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 300;
    letter-spacing: 2.1px;
    text-align: left;
    font-size: 18px;
    
}

a:hover{
    transition: .5s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 400;
    letter-spacing: 2.6px;
    text-align: left;
    cursor: default;
    text-decoration-color: #d8d8d8;
    text-decoration: underline;
    font-size: 22px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 2.2px;
    text-align: left; 
}

.h-divider{
    width: 100%; 
    height: 1px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.v-divider{
    padding: 0px;
    justify-content: center;
    width: 1px;
    border: 1.5px solid black;
    background-color: black;
    margin: 0 1rem;
    opacity: .15;
}

.dot-seperator{
    border: 1px solid black;
    background-color: black;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    margin: auto 0px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items:center;
    border: 2.5px solid rgb(153, 82, 167);
    padding: 1rem 5px;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: rgb(219, 217, 217);
    margin: 10px;   
    overflow:auto;
    z-index: 1;

    :global(h3){
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        text-decoration: underline;
    }
}

.button{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    box-sizing: border-box;
    min-height: 10%;
    height: auto;
    width: 100%;
    padding: 10px;
    margin: .313rem;
    border-radius: 4px;
    transition: 0.2s;
    opacity: .9;
    border: 2.5px solid ;
    background-color:rgb(226, 226, 226);
    box-shadow: inset 15px 0px rgb(21, 21, 21);

    &.small{
        width: 100px;

        &:hover{
            box-shadow: inset -140px 0px rgba(14, 14, 14, 0.5);
        }
    }

    &.medium{
        width: 250px;
    }

    &.large{

    }

    &:hover{
        color:#fff;
        border-radius: 10px;
        box-shadow: inset -140px 0px rgba(14, 14, 14, 0.5);
        border: 2.5px solid rgb(21, 21, 21);
    }
}

.button-secondary{
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center; 
    color: white;
    letter-spacing: 2.2px;
    margin: 1px;
    padding: 7px;
    outline: none;
    border: 2px solid rgb(87, 46, 95);
    background-color: rgba(87, 46, 95, .7);
    transition: .7s;
    border-radius: 3px;  


    &:hover{
        transition: .7s;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: 600;
        letter-spacing: 2.6px;
        cursor: default;
        text-decoration: underline;
        background-color: white;
        color: black;
        border-radius: 5px;        
    }
}


.button-primary{
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center; 
    color: black;
    background-color: white;
    letter-spacing: 2.2px;
    margin: 1px;
    padding: 7px;
    outline: none;
    border: 2px solid rgb(87, 46, 95);
    transition: .7s;
    border-radius: 3px; 
    height: 42px; 

    &:hover{
        transition: .4s;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: 600;
        letter-spacing: 2.6px;
        cursor: default;
        text-decoration: underline;
        background-color: rgba(87, 46, 95, .7); 
        color: white;
        border-radius: 5px;        
    }
}

.close{
    justify-content: right;
    border: 2px solid rgb(255, 85, 85) !important;
    height: auto;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center; 
    text-decoration: underline;
    color: black;
    letter-spacing: 2.2px;
    margin: 1px;
    padding: 7px;
    outline: none;
    transition: .7s;
    border-radius: 3px; 

    &:hover{
        background-color: rgb(255, 85, 85) !important;
        transition: .7s;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: 600;
        letter-spacing: 2.6px;
        text-align: left;
        cursor: default;
        text-decoration: underline;
        color: black;
        border-radius: 5px;
    }

    
}

.red{
    border: 2px solid rgb(255, 85, 85) !important;
    &:hover{
        background-color: rgb(255, 85, 85) !important;
    }
}

// model blur effect
.blur{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(198, 184, 208, 0.4);
    backdrop-filter: blur(5px);
}

.caution:hover{
    background-color: rgb(251, 65, 65);
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    transition: .5s;    
}

/* On error */
.input-error{
    border-color: 2px solid red;
}