.footer{
    margin: 10px 0px;
    width: 93%;
    height: 15%;
    display: inline-block;
    align-items:center;
    border: 1.5px solid black;
    padding:1rem .5rem;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: rgb(219, 217, 217);
    margin:10px;  
    justify-content: center;
    box-sizing: border-box;
}