<div class="container">
    <app-error-banner
        *ngIf="showErrorBanner"
        [error_message]="errorBannerMessage"
        [error_type]="errorBannerType"
        (emitClose)="closeError()"
    ></app-error-banner>

    <div class="sidebar">
        <app-sidebar-user></app-sidebar-user>
    </div>

    <div class="content">
        <app-message-box-header
            [selectedUser]="selectedUser"
            (emitToggleManagerUser)="toggleManagerUserModel($event)"
        ></app-message-box-header>
        <app-manage-user-modal
            *ngIf="toggleManageUser"
            [user]="selectedUser"
        ></app-manage-user-modal>
        <div class="seperator"></div>

        <app-message-box
            class="message-box"
            [selectedUser]="selectedUser"
        ></app-message-box>
    </div>
</div>
