@import '../shared/styles/global';
@import '../shared/styles/forms';
.parent{
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;

    .message-box{
        width: 100%;
    }

    .content{
        width: 60%;
        padding: 5px 10px;
    }

    .sidebar{
        width: 30%;
    }

    .seperator{
        width: 95%;
        margin: 10px 5px;
        height: 1px;
        border: 1px solid gray;
    }

}
