<div class="container">
    <div class="comment-box">
        <div class="comment" *ngFor="let comment of comments; let i = index;">
            <p>{{ comment.comment }}</p>
        </div>
    </div>
</div>