.container{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items:center;
    border: 1px solid gray;
    padding:1.5rem .5rem;
    border-radius: 5px;
    background-color: #d5d5d5;
    justify-content: center;
    box-sizing: border-box;
}

.comment{
    /* float: left; */
    border: 1px solid gray;
    border-radius: 30px;
    margin: 10px 0px;
    padding: 10px;
}

.container:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}