@import "../../styles/global";
@import "../../styles/forms";
@import "../../styles/global";
.container{
    width: 95%;
    height: 95%;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: .5s;

    &.top::before{
        border-bottom-color: rgb(162, 162, 162);
        border-top: 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       
        /* (C1-2) POSITION AT TOP */
        top: -20px; left: 54.5%;
        margin-left: -20px;
    }

    &::after{
        content: '';
        position: absolute;
        border: 20px solid transparent
    }
}