<div class="content">
    <form [formGroup]="postOptionsForm">
        <!-- Post header -->
        <div class="post-header">
            <h3 style="width: auto">{{ title }}</h3>
            <p style="width: auto">{{ uploadDate }}</p>
        </div>

        <!-- Post Content sections -->
        <div class="post" (click)="showComments()">
            <!-- show if there is an image -->
            <img src="{{ img }}" />
            <div class="body">
                {{ content }}
            </div>
        </div>
        <!-- Post control  -->
        <div class="post-control">
            <!-- Likes  -->
            <a class="likes" for="likes">{{ likes }}</a>
            <div class="v-divider"></div>
            <!-- Like button -->
            <a class="icons like" [class.liked]="isLiked" (click)="like()"></a>
            <!-- Comment section button -->
            <a
                class="icons comment-section"
                [class.comment-section-clicked]="toggleCommentSection"
                (click)="showComments()"
            ></a>
            <!-- Comment section button -->
            <a
                class="icons comment"
                [class.comment-clicked]="toggleCommentBox"
                (click)="showCommentBox()"
            ></a>

            <div class="comment-input" *ngIf="toggleCommentBox">
                <textarea class="comment-box-input" type="text"></textarea>
                <button class="button-secondary">Comment</button>
            </div>
        </div>
        <!-- Toggle comment section -->
        <div class="comment-section">
            <app-comment-selction
                *ngIf="toggleCommentSection"
                [comments]="comments"
            ></app-comment-selction>
        </div>
    </form>
</div>
