@import "../../shared/styles/global";
@import "../../shared/styles/forms";
@import "../../shared/styles/animations";

.content{
    display: flex;
    width: 100%;
    margin: .5rem 0px;
    padding: 1rem 0px;
    
    .post-header{
        border-bottom: 2.5px solid black;
        padding: 5px;
        width: auto;
        transition: .5s;    
        
        h3{
            transition: .5s;    
            width: auto;
        }

        h3:hover{
            transition: .5s;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            letter-spacing: 2.6px;
            text-align: center;
            cursor: default;
            text-decoration-color: #d8d8d8;
            text-decoration: underline;
            font-size: 34px;
        }
    }

    .post{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 15px;

        img{
            max-width: 90%;
            max-height: 300px;
            margin-left: 10px;
            border-radius: 5px;
            object-fit: contain;
        }
    }
 
    .comment-area{
        margin-top: 10px;
    }

    .post-control{
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        justify-content: left;
        border-top: 2.5px solid black;
        
        .likes{
            display: flex;
            width: auto; 
            margin-left: 15px;
        }

        .comment{
            display: flex;
            flex-direction: row; 
        }

        .comment-box-input{
            margin-left: 10px;
            background:transparent;
            border: none;
            outline: none;
            width: 50%;
            height: auto;
            resize: vertical;
            border-bottom: 1.5px solid black;
        }
        
        a.post-button{
            width: 35px;
            height: 35px;
            margin-right: 1rem; 
            border-radius: 10px;
            background-size:contain;
            background-repeat:no-repeat;
            border-radius: 10px;
            transition: .5s;

            img{
                height: 30px;
                width: 30px;    
                transition: .5s;
            }

            img:hover{
                transition: .5s;
                height: 35px;
                width: 35px;   
                color: white; 
            }
        }
    }
}

