<div class="content">
    <form [formGroup]="postOptionsForm">
        <div class="post-header">
            <h3 style="width: auto">{{ title }}</h3>
            <p style="width: auto">{{ uploadDate }}</p>
        </div>
        <div class="post" (click)="showComments()">
            <!-- show if there is an image -->
            <img src="{{ img }}" />
            <div class="body">
                {{ content }}
            </div>
        </div>
        <div class="comment-section">
            <app-comment-selction
                *ngIf="toggleCommentSection"
                [comments]="comments"
            ></app-comment-selction>
        </div>
        <div class="post-control">
            <label class="likes" for="likes">Likes: {{ likes }}</label>
            <div class="v-divider"></div>
            <a
                class="post-button like"
                [class.like-clicked]="isLiked"
                (click)="like()"
            ></a>
        </div>
    </form>
</div>
