@import "../../shared/styles/global";
@import "../../shared/styles/forms";
@import "../../shared/styles/animations";

.content{
    display: flex;
    width: 100%;
    margin: .5rem 0px;
    padding: 5px 0px;
    overflow: hidden;
    
    .post-header{
        border-bottom: 2.5px solid black;
        padding: 5px;
        width: 100%;
        transition: .5s;    
        
        h3{
            transition: .5s;    
            width: auto;
        }

        h3:hover{
            transition: .5s;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            letter-spacing: 2.6px;
            text-align: center;
            cursor: default;
            text-decoration-color: #d8d8d8;
            text-decoration: underline;
            font-size: 34px;
        }
    }

    .post{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 15px;

        img{
            max-width: 90%;
            max-height: 300px;
            margin-left: 10px;
            border-radius: 5px;
            object-fit: contain;
        }
    }
 
    .comment-area{
        margin-top: 10px;
    }

    .post-control{
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        justify-content: center;
        border-top: 2.5px solid black;
        transition: 1s;
        
        .likes{
            text-decoration-color: black;
            text-decoration: solid;
            font-size: 1.5rem;
            color: black;
            margin-left: 15px;

            &:hover{
                transition: .5s;
                text-decoration: underline;
                font-size: 2rem;

            }
        }

        .comment{
            display: flex;
            flex-direction: row; 
        }

        .comment-input{
            transition: 1s;
            width: 100%;
            .comment-box-input{
                margin: 0px 10px;
                background:transparent;
                border: none;
                outline: none;
                width: 70%;
                height: 36px;
                resize: vertical;
                border-bottom: 1.5px solid black;
            }

            .send-comment{
                width: 100px;
                float: right;
            }

        }
        
        .icons{
            transition: .5s;
            height: 40px;
            width: 40px;
        
            &.like{
                background-image: url('../../../svgs/like.svg');
                background-size: contain;
                background-repeat: no-repeat;  
                background-position: center;
                background-size: 1.5rem; 
                border: none;
        
                &:hover{
                    transition: .5s;
                    background-size: 2rem;
                }
        
            }
        
            &.comment{
                background-image: url('../../../svgs/comment.svg');
                background-size: contain;
                background-repeat: no-repeat;  
                background-position: center;
                background-size: 1.5rem; 
                border: none;
        
                &:hover{
                    transition: .5s;
                    background-size: 2rem;
                }
        
            }
        
            &.comment-section{
                background-image: url('../../../svgs/comment-section.svg');
                background-size: contain;
                background-repeat: no-repeat;  
                background-position: center;
                background-size: 1.5rem; 
                border: none;
        
                &:hover{
                    transition: .5s;
                    background-size: 2rem;
                }
        
            }
        }

            
        
    }
}

.liked{
    background-image:unset;
    background-image: url('../../../svgs/like-clicked.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;  
    background-position: center;
    background-size: 1.5rem; 
    border: none;

    &:hover{
        transition: .5s;
        background-size: 2rem;
    }

}

.comment-section-clicked{
    background-image:unset;
    background-image: url('../../../svgs/comment-section-clicked.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;  
    background-position: center;
    background-size: 1.5rem; 
    border: none;

    &:hover{
        transition: .5s;
        background-size: 2rem;
    }

}

.comment-clicked{
    background-image:unset;
    background-image: url('../../../svgs/comment-clicked.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;  
    background-position: center;
    background-size: 1.5rem; 
    border: none;

    &:hover{
        transition: .5s;
        background-size: 2rem;
    }

}

