@import "../../shared/styles/global";
@import "../../shared/styles/forms";
@import "../../shared/styles/animations";

.content{
    display: flex;
    width: 100%;
    margin: .5rem 0px;
    
    .post-header{
        border-bottom: 2px solid gray;
        border-radius: 10px;
        padding: 5px;
        width: auto;
    }

    .post{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;


        img{
            max-width: 90%;
            max-height: 300px;
            margin-left: 10px;
            border-radius: 5px;
            object-fit: contain;
        }
    }

    // .comment-section{
    // }

    .post-control{
        display: flex;
        flex-direction: row;
        margin: 1rem 0rem;
        justify-content: left;
        
        .likes{
            display: flex;
            width: auto;
        }

        a.post-button{
            width: 35px;
            height: 35px;
            margin-right: 1rem; 
            border-radius: 10px;
            background-size:contain;
            background-repeat:no-repeat;
            border-radius: 10px;
            transition: .5s;

            img{
                height: 40px;
                width: 40px;    
                transition: .5s;
            }

            img:hover{
                transition: .5s;
                height: 45px;
                width: 45px;    
            }
        }
    }
}

