@import "../../shared/styles/global";
@import '../../shared/styles/forms';

.control-container{
    display: flex;
    justify-content: center;
}

.red{
    border: 1.5px solid red !important;
}

.amber{
    border: 1.5px solid orange !important;
}
.green{
    border: 1.5 solid green !important;
}