<div class="row container" style="display: flex">
    <div style="width:30%">
        <app-sidebar-user></app-sidebar-user>
    </div>
    <div style="width:65%">
        <app-post ></app-post>
    </div>
</div>  
<app-footer></app-footer>   