
<div class="row" style="display: flex">
    <div class="colum content" style="width: 30%;">
        <label for="title">Sidebar</label>
        <app-sidebar-user></app-sidebar-user>
        <app-sidebar-user></app-sidebar-user>
        <app-sidebar-user></app-sidebar-user>
        <app-sidebar-user></app-sidebar-user>
    </div>

    <div class="column content" style="width: 60%;">
        <h2>Content</h2>
        <app-post-item *ngFor="let aPost of defaultPosts"
            [title]="aPost.title"
            [uploadDate]="aPost.uploadDate"
            [content]="aPost.content"
            [comments]="aPost.comments"
        ></app-post-item>


    </div>
</div>
<div class="row content footer">
    <label for="footer">Footer</label>
</div>


