.update-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .personal{
        width: 100%;
        margin-right: 1rem;
    }

    .other-info{
        display: flex;
        flex-direction: column;
        width: 100%;

        .password{
            width: 100%;
        }

        .email{
            width: 100%;
        }
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
}


