<div class="wrapper">
    <app-page-navigation
        (pageChangeEmitter)="accountPageChange($event)"
        (logoutEmitter)="logoutUser()"
    ></app-page-navigation>
    <app-error-banner
        *ngIf="showBanner"
        [error_message]="error_message"
        [error_status]="error_status"
        [error_type]="error_type"
    ></app-error-banner>
    <app-account-info
        *ngIf="accountCurrentPage === 1"
        [currentUser]="currentUser"
    ></app-account-info>
    <div class="update-container">
        <app-personal-info-form
            *ngIf="accountCurrentPage === 2"
            class="personal"
            [currentUser]="currentUser"
        ></app-personal-info-form>

        <div class="other-info">
            <div class="password" *ngIf="accountCurrentPage === 3">
                <app-password-info-form
                    [currentUser]="currentUser"
                ></app-password-info-form>
            </div>
            <div class="email" *ngIf="accountCurrentPage === 4">
                <app-change-email-form
                    [currentUser]="currentUser"
                    (emitBannerMessage)="showBannerMessage($event)"
                ></app-change-email-form>
            </div>
            <div class="preferences" *ngIf="accountCurrentPage === 5">
                <app-preferences></app-preferences>
            </div>
        </div>
    </div>
</div>
